<html>
    <head>
        <title>{{ title }} - Hi </title>
    </head>
    <body>
        <h1> YO, {{user.username}}</h1>

        <div id="graphdata">
            <div id="classifications">
                <p>Classifications:</p>
                <ul>
                    {%for c in graph.classifications%}
                        <li>{{c.name}}</li>
                    {%endfor%}
                </ul>
            </div>
            <div id="vertices">
                <p>Vertices:</p>
                <ul>
                    {%for v in graph.vertices%}
                        <li>{{v.name}}</li>
                    {%endfor%}
                </ul>
            </div>
            <div id ="edges">
                <p>Edges:</p>
                <ul>
                    {%for e in graph.edges%}
                        <li>{{ e.name }}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>

    </body>
</html>