<div *ngIf="graphData !== undefined">
    <div *ngIf="graphData.success == true">
        <p>YO, {{graphData.user.username}}</p>

        <div>
            <p>Classification Options:</p>
            <div>
                <button type ="button" (click) = "
                    toggleDisplay('settings_addClassification')
                ">Add Classification</button>
            </div>
            <div>
                <div id ="settings_addClassification" style="display:none;">
                    <form [formGroup]="classForm" (ngSubmit)="AddClassification(classForm.value)">
                        <label for="name">Name</label>
                        <input type ="text" formControlName = "name">
                        <label for="color">Color</label>
                        <input type ="text" formControlName = "color" value = "black">
                        <input type ="hidden" formControlName = "count" value = "0">
                        <button type = "Submit">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div id = "classifications">
            <div *ngFor="let c of graphData.graph.classifications" style="display:inline-block; padding: 4px; border-style:dashed;">
                <p>{{c.name}}</p>
                <p>ID: {{c.id}}</p>
                <div class = "class-options">
                    <button type = "button" (click) = "
                        toggleDisplay('settings_editClassification_' + c.id)
                    ">Edit Class</button>

                    <button type = "button" (click) ="
                        toggleDisplay('settings_deleteClassification_' + c.id)
                    ">Delete Class</button>
                </div>
                <div>
                    <div id = "settings_editClassification_{{c.id}}" style="display:none;">
                        <form [formGroup]="classForm" (ngSubmit)="EditClassification(classForm.value)">
                            <label for="name">Name</label>
                            <input type ="text" formControlName = "name" value = "{{c.name}}">
                            <label for="color">Color</label>
                            <input type ="text" formControlName = "color" value = "{{c.color}}">
                            <input type ="hidden" formControlName = "count" value = "{{c.count}}">
                            <input type = "hidden" formControlName = "id" value = {{c.id}}>
                            <button type = "Submit">Confirm</button>
                        </form>
                    </div>
                    <div id = "settings_deleteClassification_{{c.id}}" style="display:none;">
                        <form [formGroup]="classForm" (ngSubmit)="DeleteClassifcation(c.id)">
                            <button type = "Submit">Confirm Deletion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>Node Options:</p>
            <div>
                <button type = "button" (click) = "
                    toggleDisplay('settings_addNode')
                ">Add Node</button>
            </div>
            <div>
                <div id = "settings_addNode" style="display:none;">
                    <form [formGroup]="vertexForm" (ngSubmit)="AddVertex(vertexForm.value)">

                    </form>
                </div>
            </div>
        </div>

        <div id = "vertices">
            <div *ngFor="let v of graphData.graph.vertices" style = "display:inline-block; padding: 4px; border-style: solid;">
                <p>{{v.name}}</p>
                <p>ID: {{v.id}}</p>
                <div class = "vertex-options">
                    <button type = "button" (click) = "
                        toggleDisplay('settings_addNeighbor_' + v.id)
                    ">Add Neighbor</button>

                    <button type = "button" (click) = "
                        toggleDisplay('settings_editNode_' + v.id)
                    ">Edit Node</button>

                    <button type = "button" (click) = "
                        toggleDisplay('settings_deleteNode_' + v.id)
                    ">Delete Node</button>
                </div>
                <div>
                    <div id = "settings_addNeighbor_{{v.id}}" style="display:none;">
                        <form [formGroup]="edgeForm" (ngSubmit)="AddEdge(edgeForm.value)">

                        </form>
                    </div>
                    <div id = "settings_editNode_{{v.id}}" style="display:none;">
                        <form [formGroup]="vertexForm" (ngSubmit)="EditVertex(vertexForm.value)">

                        </form>
                    </div>
                    <div id = "settings_deleteNode_{{v.id}}" style="display:none;">
                        <form [formGroup]="vertexForm" (ngSubmit)="DeleteVertex(vertexForm.value.id)">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id = "edges">
            <div *ngFor="let e of graphData.graph.edges" style = "display:inline-block; padding: 4px; border-style:double;">
                <p>{{e.name}}</p>
                <div class = "edge-options">
                    <button type = "button" (click) = "
                        toggleDisplay('settings_editEdge_' + e.id)
                    ">Edit Edge</button>

                    <button type = "button" (click) = "
                        toggleDisplay('settings_deleteEdge_' + e.id)
                    ">Delete Edge</button>
                </div>
                <div>
                    <div id = "settings_editEdge_{{e.id}}" style="display:none;">
                        <form [formGroup]="edgeForm" (ngSubmit)="EditEdge(edgeForm.value)">

                        </form>
                    </div>
                    <div id = "settings_deleteEdge_{{e.id}}" style="display:none;">
                        <form [formGroup]="edgeForm" (ngSubmit)="DeleteEdge(edgeForm.value.id)">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <button (click)="logout()">Log Out</button>
    </div>
    <div *ngIf="graphData.success == false">
        <p>You are not logged in.</p>
    </div>
</div>

<div *ngIf="graphData == undefined">
    Couldn't connect to Flask API. (Server might be down?)
</div>